/***
*** Site Header ***
***/

/***
*** Site Navigation ***
***/



.mobinav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  max-width: 420px;
  min-height: 100vh;
  height: 100%;
  padding: 170px 45px 80px;
  background: #fff;
  color: #fff;
  border-right: none;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  box-sizing: border-box;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.menu-top-menu-container {
  display: block;
  width: 100%
}

.mobinav.open {
  transform: translateX(0);
}

/* .mobinav.open+#header .hamb,
.mobinav.open+#header .header-btn a {
  background: #13B317;
  transition: all 0.5s ease-in-out;
} */

.mobinav ul {
  margin: 0;
  padding: 5px 0;
  width: 100%
}

.mobinav ul li {
  width: 100%;
  margin: 0 0 30px;
  padding-top: 0;
  padding-bottom: 30px;
  position: relative;
  border-bottom: 1px solid #E4E4E4;
  line-height: 1;
}

.mobinav ul li:last-child {
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom: none;
}

.mobinav a {
  color: #0c1b33;
  width: 100%;
  font-size: 15px;
  line-height: 1.4;
  font-family: 'Figtree';
  letter-spacing: 0;
  position: relative;
  display: block;
  text-transform: uppercase;
  background: transparent;
  transition: all 0.5s ease-in-out;
  font-weight: 600;
}

.mobinav a:hover {
  color: var(--secondary);
}

.mobinav a::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 6px;
  height: 9px;
  margin: auto;
  background: url("../../assets/images/hdr-sub-menu-arw.webp") no-repeat center center;
  background-size: contain;
}

.mobinav .sub-menu li a {
  font-size: 14px;
}

.mobinav ul li ul {
  padding: 25px 0 0 15px;
  display: none
}

.mobinav ul.sub-menu li:last-child {
  padding-bottom: 0px;
  margin-bottom: 0;
  border: none;
}

.mobinav button.menuClose {
  width: 30px;
  height: 30px;
  border: none;
  background: transparent;
  font-family: 'Figtree';
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  color: #0c1b33;
  cursor: pointer;
  margin: 0 0px 30px auto;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center
}

.mobinav ul li .drop {
  width: 25px;
  height: 25px;
  display: block;
  position: absolute;
  right: 10px;
  top: -4px;
  cursor: pointer;
  background: url("../../assets/images/hdr-mbl-plus-icn.svg") no-repeat center center;
  background-size: 14px;
  filter: brightness(0) saturate(100%) invert(8%) sepia(20%) saturate(1900%) hue-rotate(185deg) brightness(88%) contrast(105%);
}


.mobinav ul li .drop.open {
  background-image: url("../../assets/images/hdr-mbl-minus-icn.svg");
}


/* Spanish */

.translated-ltr .mobinav a font {
  color: #0c1b33;
  font-size: inherit;
}

.translated-ltr .mobinav button.menuClose font {
  font-size: inherit;
  color: #0c1b33;
}

.translated-ltr .mobinav .sub-menu li a font {
  font-size: inherit;
}



@media screen and (max-width: 1039px) and (min-width: 1025px) {
  .submenu-toggle {
    display: none;
  }
}

@media screen and (max-width: 1024px) {

  #header.f-nav .header-btn a,
  #header.f-nav .hamb {
    height: 45px;
    width: 45px;
    transition: 0.7s;
  }
}

@media screen and (max-width: 767px) {
  #header.f-nav .header-sec {
    padding: 10px 0;
  }

  .mobinav {
    padding: 130px 45px 80px;
  }
}

@media screen and (max-width: 411px) {
  .mobinav a {
    font-size: 15px;
  }

  .mobinav ul li {
    padding-bottom: 20px;
    margin: 0 0 20px;
  }

  .mobinav .sub-menu li a {
    font-size: 13px;
  }

  .mobinav {
    padding: 180px 25px 50px;
  }

  #header.f-nav .header-btn a,
  #header.f-nav .hamb {
    height: 40px;
    width: 40px;
  }

  #header.f-nav .header-btn a {
    padding: 10px;
  }
}



header {

  .side-menu {
    display: none;
  }

  .side-menu:checked~nav {
    max-height: 100%;
  }

  .side-menu:checked~.hamb .hamb-line {
    background: transparent;
  }

  .side-menu:checked~.hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
  }

  .side-menu:checked~.hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
  }
}

header.fixed {
  top: 0 !important;
}

header .hamb {
  background-color: #0C1B33;
  cursor: pointer;
  display: flex;
  float: right;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}



@media screen and (max-width: 411px) {

  header .hamb,
  .hdr-btn {
    height: 40px;
    width: 40px;
  }
}



@media screen and (min-width: 10rem) {
  input#side-menu {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999999;
  }

  .side-menu~div#primary-menu {
    transition: max-height 0.5s;
  }

  .side-menu:not(:checked)~div#primary-menu {
    max-height: 0;
    opacity: 0;
    position: absolute;
    right: -100% !important;
    top: 100%;
    visibility: hidden;
  }

  .side-menu:checked~div#primary-menu {
    height: 70vh;
    margin-top: 0 !important;
    max-height: 1000vh;
    opacity: 1;
    overflow: auto;
    padding: 30px 15px !important;
    position: absolute;
    right: 0;
    top: 100%;
    visibility: hidden;
    width: 100%;
    background-color: #fff;
    display: none;
  }

  .side-menu:checked~div#primary-menu ul {
    width: 100%;
    max-width: 600px;
    margin: auto;
    position: static;
  }

  .side-menu:checked~div#primary-menu li {
    padding: 0 0 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #F3F3F3;
  }

  .side-menu:checked~div#primary-menu li:last-child {
    margin-bottom: 0px;
    border: none;
    padding-bottom: 0px;
  }

  .side-menu:checked~div#primary-menu li a {
    position: relative;
    display: block;
    width: 100%;
    background-color: transparent;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1;
    color: #222222;
    padding: 0 17px;
  }

  .side-menu:checked~div#primary-menu li a:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 7px;
    height: 12px;
    background-image: url(../../assets/images/hdr-sub-menu-arr.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .side-menu:checked~div#primary-menu li a:hover {
    color: #f4bf1e;
  }

  .side-menu:checked~div#primary-menu li.submenu-open>a:before {
    transform: rotate(90deg)
  }
}

/***
*** Utility Menu ***
***/

#header-top {
  background-color: #fafafa;
  border-bottom: 1px solid #dfdfdf;
}

#utility-menu-wrapper {
  #menu-utility-menu {
    li {
      margin: 0 var(--space-1) 0;
      padding: var(--space-2) 0;
    }

    li:last-child {
      margin-right: 0;
    }

    a {
      font-size: 0.8rem;
    }
  }
}

/***
*** Navigation: 0px - 1280px ***
***/

header {
  @apply transition-all;

  min-height: 82px;
  background-color: #fff;

  &.fixed {
    @apply transition-all;
  }

  ul#primary-menu>li {
    margin: 0;
    padding: var(--space-4) var(--space-2);
  }

  ul#primary-menu>li.menu-item-has-children,
  ul#primary-menu>li.menu-item-has-children>a {
    position: relative;
    z-index: 0;
  }

  ul#primary-menu>li.menu-item-has-children>a::after {
    content: "";
    width: 10px;
    height: 10px;
    background-image: url(/wp-content/uploads/2023/10/angle-down.svg);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    top: 50%;
    transform: translate(0, -50%);
    right: -15px;
    transition: opacity 0.5s;
    opacity: 1;
  }

  ul#primary-menu>li.menu-item-has-children>a::before {
    content: "";
    width: 10px;
    height: 10px;
    background-image: url(/wp-content/uploads/2023/10/angle-up.svg);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    top: 50%;
    transform: translate(0, -50%);
    right: -15px;
    transition: opacity 0.5s;
    opacity: 0;
  }

  ul#primary-menu>li.menu-item-has-children input.mobile-nav-checkbox:checked~a::after {
    transform: rotate(180deg) translateX(0) translateY(5px);
  }

  li:not(.menu-item-has-children) input {
    display: none;
  }

  .mobile-nav-checkbox~ul.sub-menu {
    opacity: 0;
    max-height: 0;
    height: 0;
    transition: max-height 0.3s ease, height 0.3s ease;
    left: 999999px;
    position: relative;
    background: #dedede;
  }

  .mobile-nav-checkbox:checked~ul.sub-menu,
  li#menu-item-1308 .mobile-nav-checkbox~ul.sub-menu {
    height: 100%;
    max-height: 1000px;
    opacity: 1;
    left: 0;
  }

  ul#primary-menu>li.menu-item-has-children input.mobile-nav-checkbox {
    width: 100%;
    position: absolute;
    top: 5px;
    opacity: 0;
    height: 25px;
    left: -3px;
    z-index: 1;
  }

  ul#primary-menu>li.menu-item-has-children>ul.sub-menu li {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0;
  }

  ul#primary-menu>li.menu-item-has-children>ul.sub-menu>li>a {
    padding: 0 20px;
    display: block;
    transition: background-color 0.5s;
  }
}

/***
*** Navigation: 1025px and larger ***
***/
@media (min-width: 64.0625rem) {
  header {
    .hamb {
      display: none;
    }

    .side-menu~div#primary-menu {
      transition: none;
    }

    .side-menu:checked~div#primary-menu {
      position: static;
      overflow: visible;
    }

    .side-menu:not(:checked)~div#primary-menu {
      top: 100%;
      position: static;
      right: -999999px;
      max-height: 1000px;
      opacity: 1;
      visibility: visible;
    }

    ul#primary-menu>li:last-child {
      @apply bg-primary text-white p-0;

      cursor: pointer;
    }

    ul#primary-menu>li:last-child a {
      padding: var(--space-4) var(--space-2);
      display: block;
    }

    input.mobile-nav-checkbox {
      display: none;
    }

    li.menu-item-has-children:hover .mobile-nav-checkbox~ul.sub-menu {
      opacity: 1;
      height: auto;
      max-height: 1000px
    }

    ul#primary-menu>li.menu-item-has-children>ul.sub-menu {
      display: none;
      position: absolute;
      left: -999999px;
      transform: translateX(-10%);
      top: 100%;
    }

    ul#primary-menu>li.menu-item-has-children:hover>ul.sub-menu {
      display: block;
      left: 50%;
      transform: translateX(-50%);
      width: fit-content;
      white-space: nowrap;
    }

    ul#primary-menu>li.menu-item-has-children:hover>a::after {
      opacity: 0;
    }

    ul#primary-menu>li.menu-item-has-children:hover>a::before {
      opacity: 1;
    }

    ul#primary-menu>li.menu-item-has-children>ul.sub-menu>li>a {
      padding: 5px 20px;
    }
  }

}